<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Create customer</title>
    <th:block th:replace="/layout/head :: head"/>
</head>

<body>
<div class="container-scroller">
    <th:block th:replace="/layout/navbar :: navbar"/>

    <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">

            <th:block th:replace="/layout/theme-setting-wrapper :: theme-setting-wrapper"/>

            <th:block th:replace="/layout/right-sidebar :: right-sidebar"/>

            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <th:block th:replace="/layout/sidebar :: sidebar"/>
            </nav>

            <!-- partial -->
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 d-flex align-items-stretch grid-margin">
                        <div class="row flex-grow">
                            <div class="col-12 grid-margin">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-description">
                                        </p>
                                        <div th:if="${success}">
                                            <h2 style="color: green;" th:text="${message}"></h2>
                                        </div>
                                        <div th:if="${successEdit}">
                                            <h2 style="color: green;" th:text="${messageEdit}"></h2>
                                        </div>
                                        <form class="forms-sample" th:object="${customer}" method="post">
                                            <div class="form-group">
                                                <label for="fullName">Full name</label>
                                                <input type="text" name="fullName" class="form-control" id="fullName">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" name="email" class="form-control" id="email">
                                            </div>
                                            <div class="form-group">
                                                <label for="phone">Phone</label>
                                                <input type="tel" name="phone" class="form-control" id="phone">
                                            </div>
                                            <div class="form-group">
                                                <label for="address">Address</label>
                                                <input type="text" name="address" class="form-control" id="address">
                                            </div>
                                            <button type="submit" class="btn btn-success mr-2">Submit</button>
                                            <button class="btn btn-light">Cancel</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <th:block th:replace="/layout/footer :: footer"/>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<th:block th:replace="/layout/script :: script"/>

</body>

</html>
